# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\angel\OneDrive\Desktop\MIEIC\2nd_year\1st_semester\MNUM\FEUP-MNUM\TP08\Code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
